@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    @apply bg-primary/80 text-white !important;
}

.application-logo .application-logo-blob {
    fill: theme('colors.primary');
    transition: fill 0.15s ease-in;
}

.application-logo:hover .application-logo-blob {
    fill: theme('colors.primary-dark');
}

.application-logo .application-logo-text {
    fill: #333333;
    transition: fill 0.15s ease-in;
}

.application-logo:hover .application-logo-text {
    fill: #000000;
}

/** Pagination */

.pagination nav {
    @apply flex justify-center items-center space-x-2;

    & > span {
        @apply opacity-0;
    }
}

/** Comments */

.comments-level,
.comment-container,
.comment-container-parent {
    @apply relative;
}

.comments-container > .comments-level {
    & > .comment-container:first-child {
        @apply pt-4 sm:pt-6;
    }
}

.comments-level {
    @apply ml-4 sm:ml-8;

    & > .comment-container {
        @apply pt-2 sm:pt-4;

        /* vertical line */

        &::before {
            content: "";
            @apply absolute top-0 -left-[1px] -ml-2 sm:-ml-4 h-full w-2 sm:w-4;
            @apply border-l-2 border-l-gray-200;
            /*@apply bg-red-100;*/
        }
    }

    & > .comment-container:not(:last-child) {
        & > .comment-container-parent {
            @apply relative;

            /* horizontal line */

            &::before {
                content: "";
                @apply absolute top-0 -left-[1px] -ml-2 sm:-ml-4 h-1/2 w-2 sm:w-4;
                @apply border-b-2 border-b-gray-200;
                /*@apply bg-blue-100;*/
            }
        }
    }

    & > .comment-container:last-child {
        @apply pt-4;

        /* remove vertical from last level */

        & > .comments-level {
            &::before {
                content: "";
                @apply absolute top-0 -left-[1px] -ml-6 sm:-ml-12 h-full w-2 sm:w-4;
                @apply border-l-2 border-l-gray-100;
                /*@apply bg-green-100 z-20;*/
            }
        }

        & > .comment-container-parent {
            @apply relative;

            /* remove last vertical half from last comment */

            &::before {
                content: "";
                @apply absolute bottom-0 -left-[1px] -ml-2 sm:-ml-4 h-1/2 border-t-2 border-t-gray-200 w-2 sm:w-4;
                @apply border-l-2 border-l-gray-100;
                /*@apply bg-yellow-100 z-30;*/
            }
        }
    }
}

/** Embeds */

.embed-screen {
    @apply absolute top-0 left-0 right-0 bottom-0 bg-transparent z-10;
}

.highlighted-embed {
    @apply rounded-xl overflow-hidden;

    &:before {
        content: "";
        @apply absolute top-0 left-0 right-0 bottom-0 bg-primary/80 rounded-xl;

        pointer-events: none;
    }
}

.node-imageBlock {
    & > div {
        @apply relative;

        &:before {
            content: "";
            @apply embed-screen
        }
    }

    &.ProseMirror-selectednode > div > div,
    &.node-selection > div > div {
        @apply relative;

        & > div {
            @apply highlighted-embed;
        }

        img {
            @apply my-0 !important;
        }
    }
}

.youtube-container,
.reddit-container,
.telegram-container,
.twitter-container,
.instagram-container {
    @apply w-full relative;

    .screen {
        display: none;
    }

    .embed > * {
        @apply w-full my-0 !important;
    }
}

.youtube-container,
.reddit-container {
    .embed {
        @apply w-full relative;
    }
}

.telegram-container,
.twitter-container,
.instagram-container {
    .embed {
        @apply max-w-[500px] relative mx-auto;
    }
}

.ProseMirror {
    .youtube-container,
    .reddit-container,
    .telegram-container,
    .twitter-container,
    .instagram-container {
        .screen {
            display: block;
            @apply embed-screen;
        }

        &.ProseMirror-selectednode > .embed,
        &.node-selection > .embed {
            @apply highlighted-embed;
        }
    }
}

.twitter-container {
    blockquote {
        @apply prose;

        p:first-child {
            @apply mt-0;
        }

        p {
            @apply mb-2
        }

        font-weight: 500;
        font-style: italic;
        color: var(--tw-prose-quotes);
        border-left-width: 0.25rem;
        border-left-color: var(--tw-prose-quote-borders);
        quotes: "\201C" "\201D" "\2018" "\2019";
        margin-top: 1.6em;
        margin-bottom: 1.6em;
        padding-left: 1em;
    }
}
