.comments-level,
.comment-container,
.comment-container-parent {
    @apply relative;
}

.comments-container > .comments-level {
    & > .comment-container:first-child {
        @apply pt-4 sm:pt-6;
    }
}

.comments-level {
    @apply ml-4 sm:ml-8;

    & > .comment-container {
        @apply pt-2 sm:pt-4;

        /* vertical line */

        &::before {
            content: "";
            @apply absolute top-0 -left-[1px] -ml-2 sm:-ml-4 h-full w-2 sm:w-4;
            @apply border-l-2 border-l-gray-200;
            /*@apply bg-red-100;*/
        }
    }

    & > .comment-container:not(:last-child) {
        & > .comment-container-parent {
            @apply relative;

            /* horizontal line */

            &::before {
                content: "";
                @apply absolute top-0 -left-[1px] -ml-2 sm:-ml-4 h-1/2 w-2 sm:w-4;
                @apply border-b-2 border-b-gray-200;
                /*@apply bg-blue-100;*/
            }
        }
    }

    & > .comment-container:last-child {
        @apply pt-4;

        /* remove vertical from last level */

        & > .comments-level {
            &::before {
                content: "";
                @apply absolute top-0 -left-[1px] -ml-6 sm:-ml-12 h-full w-2 sm:w-4;
                @apply border-l-2 border-l-gray-100;
                /*@apply bg-green-100 z-20;*/
            }
        }

        & > .comment-container-parent {
            @apply relative;

            /* remove last vertical half from last comment */

            &::before {
                content: "";
                @apply absolute bottom-0 -left-[1px] -ml-2 sm:-ml-4 h-1/2 border-t-2 border-t-gray-200 w-2 sm:w-4;
                @apply border-l-2 border-l-gray-100;
                /*@apply bg-yellow-100 z-30;*/
            }
        }
    }
}
